body {
/* Временно для сетки */
    /* background-image: url('../img/view/nerds-index.jpg'); */
    /* background-image: url('../img/view/nerds-catalog.jpg'); */
   /*  background-size: 1440px auto;
    background-repeat: no-repeat;
    background-position: top center;
    height: 10000px; */
  }
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
header ul,
main ul,
footer ul {
    list-style: none;
}
.main-header {
    min-height: 115px;
    width: 1440px;
    margin: 0 auto;
    background-color: #eeeeee;
    /* background: rgba(234, 255, 45, 0.2);
    box-shadow: inset 0 0 0 2px rgb(234, 255, 45); */
}
.main-navigation {
    min-height: 65px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.site-navigation,
.user-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
}
.site-navigation a,
.user-navigation a {
    display: block;
    /* vertical-align: middle; */
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
    /* border: 1px solid magenta;
    box-sizing: border-box; */
    /* background-color: #eeeeee; */
}
.site-navigation a {
    /* padding: 7px 22px; */
    margin: 3px 22px;
    padding-bottom: 4px;
}
.user-navigation a {
    margin: 5px 20px;
    padding-bottom: 4px;   
}
.main-header-logo {
    position: relative;
    width: 160px;
    height: 65px;
    margin-top: 49px;
    margin-left: 140px;
    opacity: 1; 
    /* Временно для сетки */
    /* border: 1px solid green;
    box-sizing: border-box; */
    /* background-image: url('../img/nerds-logo.svg'); */
}
.main-header-logo:after {
    content:"";
    position: absolute;
    width: 160px;
    height: 65px;        
    top: 0;
    left: 0;
/*     border: 1px solid blueviolet;
    box-sizing: border-box; */
 }
.main-header-logo:hover {
    width: 160px;
    height: 65px;
    margin-top: 49px;
    margin-left: 140px;
    opacity: 0.8; 
}
.main-header-logo:active {
    width: 160px;
    height: 65px;
    margin-top: 49px;
    margin-left: 140px;
    opacity: 0.3; 
}
.site-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 660px;
    justify-content: flex-end;
    padding-right: 0;
    /* Временно для сетки */
    min-height: 20px;
/*     border: 1px solid green;
    box-sizing: border-box; */
}
.user-navigation {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    padding-right: 120px;
    list-style: none; 
    /* Временно для сетки */
    min-height: 20px;
    /* border: 1px solid magenta;
    box-sizing: border-box;
    background: rgba(234, 255, 45, 0.2);
    box-shadow: inset 0 0 0 2px rgb(234, 255, 45); */
}
.user-navigation .cart-link {
    position: relative;
    padding-left: 40px;
    /* background: rgba(234, 255, 45, 0.2);
    box-shadow: inset 0 0 0 2px rgb(234, 255, 45); */
}
.cart-link::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0px;
    width: 16px;
    height: 16px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    /* background-color: #ff0000; */
  }
.site-navigation a:hover,
.user-navigation a:hover {
   color: #fb565a;
}
.site-navigation a:active,
.user-navigation a:active {
    color: #bababa;
}
.current-page {
    box-sizing: content-box; 
    border: 2px solid #fb565a;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}
.container {
    min-height: 132px;
    width: 1440px;
    margin: 0 auto;
    /* border: 1px solid black;
    box-sizing: border-box; */
}
/* ****************Слайдер**************** */
.slider {
    position: relative;
    background-color: #eeeeee;
}
.slider-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;

    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
} 
.slider-controls {
    position: absolute;
    /* left: 50%; */
    left: 48%;
    bottom: 90px;
    z-index: 100;
    
    width: 120px;
    height: 18px;
  
    text-align: center;
    font-size: 0;
    transform: translateX(-50%);

    /* border: 1px solid black;
    box-sizing: border-box; */
}
.slider-controls i {
    position: relative;

    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;

    border-radius: 50%;
    cursor: pointer;

    /* border: 1px solid blue;
    box-sizing: border-box; */
}
.slider-controls i::after {
    content: "";
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
    width: 18px;
    height: 18px;
    
    background: #ffffff;
    
    border-radius: 50%;

    /* border: 1px solid green;
    box-sizing: border-box; */
}
.slider-controls .active::before {
    content: "";
    
    position: absolute;
    left: 25%;
    top: 25%;
    z-index: 2;
    
    width: 4px;
    height: 4px;
    margin: -4px;
    
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
  }
.slider-list {
    margin: 0;
    padding: 0;
    
    list-style: none;
}
.slider-item {
    display: none;
    padding: 78px 0 80px 0;
}
/* ****************** Переключение слайдов ************ */
.slider-item:nth-child(1) {
    display: block;
}
.slider-item:nth-child(1) {
    background-image: url('../img/slide1.png');
    background-repeat: no-repeat;
    background-position: 93% 18px;
}
.slider-item:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
} 
.slider-item:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
}
.slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-bottom: 25px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}
.slider-item p {
    max-width: 430px;
    margin: 0;
    margin-bottom: 38px;
}
.slider-item-button {
    display: block;
    width: 240px;
    /* min-height: 50px; */
    padding: 16px 0;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    
    background-color: #fb565a;
    border-radius: 3px;
    border: none;
}  
.slider-item-button:hover,
.slider-item-button:focus {
    background-color: #e74246;
}
  
.slider-item-button:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #d7373b;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
/* ****************Слайдер Конец**************** */
.products {
    /* width: 1180px; */
    min-height: 485px;
    margin: 0;
    margin-bottom: 24px; 
    padding: 0;
    /* border: 1px solid brown;
    box-sizing: border-box; */
}
  .products-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 0 0 140px;
    /* padding: 82px 0 0 140px; */
    min-height: 20px;
    list-style: none;
    /* border: 1px solid greenyellow;
    box-sizing: border-box; */
}
  .products-list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    min-height: 427px;
    /* margin-right: 100px; */
    margin: 80px 100px 0 0;
    padding: 0;
    min-height: 20px;
/*     border: 1px solid green;
    box-sizing: border-box; */
}
.products-list-item-image {
    order: 0;   
}
.products-list-item-header {
    order: 1;
    margin: 25px 0 0 0;
    padding: 0;
    width: 280px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word;
    /* border: 1px solid green;
    box-sizing: border-box; */    
}
.products-list-item-text {
    order: 2;
    margin: 16px 0 34px 0;
    padding: 0;

    width: 280px;
    /* min-height: 80px; */
    /* border: 1px solid green;
    box-sizing: border-box; */
}
.products-form {
    order: 5;
    margin: 0;
    padding: 0;
    margin-top: auto;
/*     border: 1px solid green;
    box-sizing: border-box; */
}
.products-list-button1,
.products-list-button2,
.products-list-button3 {
    order: 3;
    border: 0;
    outline: none;
    width: 160px;
    height: 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    border-radius: 3px;
}
.products-list-button1 {
    color: #ffffff;
    text-transform: uppercase;
    background-color: #fb565a;
    border: 3px solid #fb565a;
    box-sizing: border-box;
}
.products-list-button1:hover {
    color: #ffffff;
    background-color: #e74246;
    border: 3px solid #e74246;
    box-sizing: border-box;
}
.products-list-button1:active {
    color: #e07476;
    background-color: #d7373b;
    border: 3px solid #d7373b;
    border-top: 3px solid #c13135;
    box-sizing: border-box;
}
.products-list-button2 {
    color: #ffffff;
    text-transform: uppercase;
    background-color: #00ca74;
    border: 3px solid #00ca74;
    box-sizing: border-box;
}
.products-list-button2:hover {
    color: #ffffff;
    background-color: #00bc6c;
    border: 3px solid #00bc6c;
    box-sizing: border-box;
}
.products-list-button2:active {
    color: #4dc491;
    background-color: #00aa62;
    border: 3px solid #00aa62;
    border-top: 3px solid #009958;
    box-sizing: border-box;
}
.products-list-button3 {
    color: #ffffff;
    text-transform: uppercase;
    background-color: #efc84a;
    border: 3px solid #efc84a;
    box-sizing: border-box;
}
.products-list-button3:hover {
    color: #ffffff;
    background-color: #eab534;
    border: 3px solid #eab534;
    box-sizing: border-box;
}
.products-list-button3:active {
    color: #edc265;
    background-color: #e5a722;
    border: 3px solid #e5a722;
    border-top: 3px solid #ce961f;
    box-sizing: border-box;
}
.divider {
    margin-left: 140px;
    padding: 0;
    height: 2px;
    width: 1160px;
    background-color: #eeeeee;
    /* background-color: red; */   
}
.main-bottom {
    margin: 0;
    padding: 0;
    height: 80px;
}
.about-nerds {
    display: flex;
    flex-direction: row;
    margin: 38px 0 0 0;
    padding: 0 0 0 140px;
    min-height: 486px;
    /* border: 1px solid greenyellow;
    box-sizing: border-box; */
}
  .about-nerds-left {
    width: 680px;
    min-height: 483px;
    margin: 0 120px 0 0;
    padding: 0;
 /*    border: 1px solid green;
    box-sizing: border-box; */
}
  .about-nerds-right {
    width: 400px;
    height: 483px;
    margin: 0;
    padding: 0;
    /* border: 1px solid green;
    box-sizing: border-box; */
}
.about-nerds-header {
    margin: 35px 0 0 0;
    padding: 0;
    min-height: 20px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500; 
}
.about-nerds-text {
    margin: 34px 0 0 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    min-height: 10px;
}
.about-nerds-products {
    margin: 38px 0 0 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    /* border: 1px solid green;
    box-sizing: border-box; */  
}
.about-nerds-products-list {
    /* Для MS IE EDGE */
    margin: 12px 0 0 0;
    /* Для Chrome */
    /* margin: 26px 0 0 36px; */
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    min-height: 10px;
    list-style: none;
    /* border: 1px solid green;
    box-sizing: border-box; */
}
.about-nerds-products-item {
    position: relative;
    padding-left: 36px;
    padding-top: 0; 
    font-size: 16px;
    line-height: 48px;
    /* line-height: 24px; */
    font-weight: 400;
}
.about-nerds-products-item::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    top: 22px;
    left: 1px;
    background-color: #fb565a;
}
.about-nerds-features-logo {
    margin: 0;
    padding: 0;
}
.about-nerds-features {
    margin: 29px 0 0 17px;
    padding: 0;
    min-height: 35px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.about-nerds-features-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    min-height: 10px;
    list-style: none; 
    /* border: 1px solid green;
    box-sizing: border-box; */
}
.about-nerds-features-item {
    margin: 40px 10px 0 0;
    padding: 0;
    width: 110px;
    min-height: 120px;
    /* border: 1px solid green;
    box-sizing: border-box; */
}
.about-nerds-features-value {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 7px 20px 0 0;
    font-size: 45px;
    line-height: 10px;
    font-weight: 700;
}
.about-nerds-features-persent {
    position: absolute;
    display: inline-block;
    top: 14px;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 40px;
    line-height: 0;
    font-weight: 700;
}
.about-nerds-features-item p {
    margin: 20px 0 0 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}
.partners {
    margin: 0;
    padding: 0;
    min-height: 180px;
    /* border: 1px solid orange;
    box-sizing: border-box; */
}
  .partners-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 0 138px;
    padding: 0;
    min-width: 30px;
    min-height: 20px;
    list-style: none;
    /* border: 1px solid blueviolet;
    box-sizing: border-box; */
}
.partners-items {
    width: 260px;
    height: 180px;
    margin: 0 20px 0 0;
    padding: 0;
    min-height: 20px;
    /* border: 1px solid blueviolet;
    box-sizing: border-box; */
}
.partners-href {
    position: relative;
}
.partners-href:after {
    content:"";
    position: absolute;
    width: 260px;
    height: 180px;        
    top: 0;
    left: 0;
/*     border: 1px solid blueviolet;
    box-sizing: border-box; */
    }
.partners-items-separator {
    width: 2px;
    margin: 0 18px 0 0;
    padding: 0;
    height: 52px;
    background-color: #eeeeee;
}
.partners-logo1{
    margin: 63px 0 0 32px;
    padding: 0;
    min-height: 20px;
}
.partners-logo2{
    margin: 48px 0 0 29px;
    padding: 0;
    min-height: 20px;
}
.partners-logo3{
    margin: 66px 0 0 40px;
    padding: 0;
    min-height: 20px;
}
.partners-logo4{
    margin: 54px 0 0 47px;
    padding: 0;
    min-height: 20px;
}
.partners-img {
	opacity: 0.2;
}
.partners-img:hover {
    opacity: 1;
}
.partners-img:active {
    opacity: 0.1;
}
.main-foter {
    width: 1440px;
    min-height: 713px;
    margin: 0 auto;
    padding: 0;
    /* border: 1px solid blueviolet;
    box-sizing: border-box; */
}
.geography{
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 416px;
    margin: 0;
    padding: 0;
    /* background-image: url('../img/map.png'); */
    /* border: 1px solid rgb(83, 43, 226);
    box-sizing: border-box;  */ 
}
.geography-address {
    display: flex;
    flex-direction: column;
    width: 319px;
    height: 308px;
    margin: 54px 0 0 140px;
    padding: 0;
    background-color: white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
    /* border: 1px solid rgb(58, 226, 43);
    box-sizing: border-box; */  
}  
.geography-address-header {
    margin: 49px 0 0 49px;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
  /*   border: 1px solid rgb(226, 43, 67);
    box-sizing: border-box; */
}
.geography-address-text {
    margin: 0;
    padding: 23px 0 0 52px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-decoration: none;
    /* border: 1px solid rgb(226, 43, 67);
    box-sizing: border-box; */
}
.button-letter {
    width: 219px;
    height: 50px;
    margin: 37px 0 0 50px;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #fb565a;
    border: 0;
    outline: none;
}
.button-letter:hover {
    background-color: #e74246;
    border: 3px solid #e74246;
}
.button-letter:active {
    color: #df5f62;
    background-color: #d7373b;
    border-top: 3px solid #c13135;
}
.map-marker {
    margin: 90px 0 0 362px;
    padding: 0;
    min-height: 140px;
    /* border: 1px solid rgb(226, 43, 67);
    box-sizing: border-box; */  
}
.footer-social {
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 217px;
    margin: 0 auto;
    padding: 0;
    /* border: 1px solid rgb(83, 43, 226);
    box-sizing: border-box; */
}
.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e1e1e1;
}
.social-button:hover {
    color: #ffffff;
    background-color: #e74246;
}
.social-button:active {
    color: #e37376;
    background-color: #d7373b;
}
.social-button:active path {
  fill: #e37376;
}

.main-footer-slogan {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 900px;
    height: 217px;
    margin: 0;
    padding: 0;
   /*  border: 1px solid rgb(43, 226, 171);
    box-sizing: border-box; */
}
.main-footer-tagline {
    margin: 74px 0 0 0;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
   /*  border: 1px solid rgb(43, 226, 171);
    box-sizing: border-box; */  
}
.main-footer-text {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    /* border: 1px solid rgb(43, 226, 171);
    box-sizing: border-box; */
}
.form-header {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}
.form-label {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;   
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 16px;
    line-height: 18px;
    font-weight: 400; 
    color: #444444;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 16px;
    line-height: 18px;
    font-weight: 400; 
    color: #444444;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 16px;
    line-height: 18px;
    font-weight: 400; 
    color: #444444;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 16px;
    line-height: 18px;
    font-weight: 400; 
    color: #444444;
}
.message-form-botton {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #fb565a;
}
.shop-header {
    width: 1440px;
    min-height: 122px;
    background-color: #eeeeee;
    text-align: center;
    /* border: 1px solid rgb(43, 226, 171);
    box-sizing: border-box; */
}
.shop-header h1 {
    display: inline-block;
    margin: 77px 140px 107px 140px;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;

    /* border: 1px solid red;
    box-sizing: border-box; */
    /* text-align: center; */
}
.shop-main {
    margin: 0;
    padding: 0;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* box-sizing: border-box;
    border: 1px solid rgb(15, 15, 15); */
}
.filters-cost {
    width: 260px;
    min-height: 270px;
    margin: 0 0 0 140px;
    padding: 58px 0 0 0;
    /* border: 1px solid rgb(147, 226, 43);
    box-sizing: border-box; */
}
/* ******************* Форма *************** */
/* ***************** Чекбоксы И Радио кнопки ********* */
/* ************ Радио-кнопки *************** */
.filter-radio {
    margin-top: 56px;
    margin-left: 1px;
}
.filter-check-box {
    margin-top: 25px;
    margin-left: 1px;
}
.filter-radio,
.filter-check-box {
    padding: 0;
    border: none;
}
.filter-radio legend,
.filter-check-box legend {
    margin: -1px 0 16px 0;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.filter-input-radio + label::before {
    content: "";
  
    position: absolute;
    left: -36px; /* Координаты радиокнопок */
    top: -4px;
    width: 26px;
    height: 26px;
    
    /* border: 5px solid red; */
    border: 5px solid #b8b8b8;
    box-sizing: border-box;
    border-radius: 50%;
 }
 .filter-input-radio:hover + label::before {
    content: "";
  
    position: absolute;
    left: -36px; /* Координаты радиокнопок */
    top: -4px;
    width: 26px;
    height: 26px;
    
    border: 5px solid #444444;
    box-sizing: border-box;
    border-radius: 50%;
 }
 .filter-input-radio:disabled + label::before,
 .filter-input-radio:disabled:hover + label::before {
    content: "";
  
    position: absolute;
    left: -36px; /* Координаты радиокнопок */
    top: -4x;
    width: 26px;
    height: 26px;
    
    border: 5px solid #ededed;
    box-sizing: border-box;
    border-radius: 50%;
 }
.filter-input-radio:checked + label::after {
    content: "";
  
    position: absolute;
    top: 5px; /* Координаты точек в радиокнопке */
    left: -27px;

    width: 8px;
    height: 8px;
  
    /* background-color: red; */
    background-color: #b8b8b8;
    border-radius: 50%;
}
.filter-input-radio:checked:hover + label::after {
    content: "";
  
    position: absolute;
    top: 5px; /* Координаты точек в радиокнопке */
    left: -27px;

    width: 8px;
    height: 8px;
  
    background-color: #444444;
    border-radius: 50%;
}
.filter-input:disabled + label,
.filter-input:disabled:hover + label {
    color: #bec1c2;
}
/* ************ Радио-кнопки Конец *************** */
.filter ul {
    padding: 0;
    margin: 0;
    
    list-style: none;
    line-height: 20px;
}
.filter-option {
    margin-bottom: 20px;
    padding-left: 36px;
    /* background: rgba(0, 128, 0, 0.2);
    box-shadow: 0 0 0 3px green; */
  }
  .filter-option label {
    position: relative;
  
    display: block;
    color: #61686c;
    cursor: pointer;
    /* user-select: none; */
  }
  .filter-option:hover label {
    position: relative;
  
    display: block;
    color: #444444;
    cursor: pointer;
    /* user-select: none; */
  }
  .filter-option:disabled:hover label,
  .filter-option:disabled label {
    position: relative;
  
    display: block;
    color: #d0d2d3;
    cursor: pointer;
    /* user-select: none; */
  }
.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -36px; /* Координаты чекбоксов */
    top: -1px;

    width: 28px;
    height: 24px;

    /* border: 1px solid red; */
    background-color: white;
    background-image: url('../img/checkbox-off.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}
.filter-input-checkbox:hover + label::before {
    content: "";
    position: absolute;
    left: -36px; /* Координаты чекбоксов */
    top: -1px;

    width: 28px;
    height: 24px;

    /* border: 1px solid red; */
    background-color: white;
    background-image: url('../img/checkbox-off.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
}
.filter-input-checkbox:disabled + label::before {
    content: "";
    position: absolute;
    left: -36px; /* Координаты чекбоксов */
    top: -1px;

    width: 28px;
    height: 24px;

    /* border: 1px solid red; */
    background-color: white;
    background-image: url('../img/checkbox-off.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.1;
}
.filter-input-checkbox:checked:hover + label::before,
.filter-input-checkbox:checked + label::before {
    display: none;
}
.filter-input-checkbox:checked + label::after {
    content: "";
  
    position: absolute;
    left: -36px; /* Координаты чекбоксов */
    /* left: -42px; */
    top: -1px;

    width: 28px;
    height: 24px;
    
    background-color: white;
    background-image: url('../img/checkbox-on.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
  }
  .filter-input-checkbox:checked:hover + label::after {
    content: "";
  
    position: absolute;
    left: -36px; /* Координаты чекбоксов */
    /* left: -42px; */
    top: -1px;

    width: 28px;
    height: 24px;
    
    background-color: white;
    background-image: url('../img/checkbox-on.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
  }
/* ***************** Конец Чекбоксы и Радио кнопок ********* */
.filter-button {
    border: 0;
    outline: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    width: 260px;
    min-height: 50px;
    
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    background-color: #eeeeee;
    border-radius: 3px;
    /* border: 3px solid red; */
    border: 3px solid #eeeeee;
    box-sizing: border-box;
}
.filter-button:focus,
.filter-button:hover {
    background-color: #dfdfdf;
    border: 3px solid #dfdfdf;
}
.filter-button:active {
    color: #959595;
    background-color: #d5d5d5;
    border-top: 3px solid #bfbfbf;
}
/* ********** Движки в фильтре ********* */
.filter-item {
    margin: 0;
    padding: 0;

    border: none;
}
.range-filter {
    width: 260px;
    margin-top: 53px;
}
.filter-item legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}
.range-controls {
    position: relative;

    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    
    background-color: #f1f1f1;
    
    border-radius: 5px
}
.range-controls .scale {
height: 2px;

background: #d7dcde;
}
.range-controls .bar {
    width: 70%;
    height: 2px;

    background: #00ca74;
}
.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 0;
  
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}
/* ************ Управление движками ************ */
.range-controls .toggle-min {
    left: 20px;
}  
.range-controls .toggle-max {
    left: 160px;
}
/* ************ Управление движками ************ */
.price-controls {
    font-size: 0;
}
.price-controls label {
    display: inline-block;
    width: 50%;

    font-size: 16px;
    text-transform: uppercase;
}
.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;

    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;

    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}
.max-price {
    text-align: right;
}
/* ****************** Диапазон цен Конец ****** */
/* .form-filter fieldset {
    border: none;
}
.form-filter-cost label {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
}
.form-filter legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}
.form-filter ul {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    list-style: none;
} */
/* ********** Движки в фильтре конец ********* */
/* ******************* Форма *************** */
/* ********** Сортировка + Каталог ********* */
.sorting-catalog {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 760px;
    margin: 0 0 45px 140px;
    padding: 0;
/*     border: 1px solid rgb(125, 226, 43);
    box-sizing: border-box; */
}
/* *************** Сортировка ************** */
.sorting-order {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-height: 133px;
    margin: 0;
    padding: 0;
    /* border: 1px solid rgb(76, 43, 226);
    box-sizing: border-box; */
}
.sort-fields {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 1px 29px 0 0;
    padding: 0;
    /* border: 1px solid rgb(174, 43, 226);
    box-sizing: border-box; */
    border: none;
}
.sort-fields h2 {
    margin: 0 20px 0 0;
    padding: 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    /* border: 1px solid rgb(116, 226, 43);
    box-sizing: border-box; */
}
.sort-fields-list {
    margin: 5px 0px 0 0;
    padding: 0;
    /* align-self: flex-end; */


    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    /* align-items: center; */

    width: 520px;
    /* min-height: 127px; */
    min-height: 18px;

    /* border: 1px solid rgb(226, 43, 89);
    box-sizing: border-box; */    
}
.sorting-field {
    margin: 0 3px 0 23px;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #b2b2b2;
}
.sorting-field:hover {
    color: #a6a6a6;
}
.sorting-field:active {
    color: #231f20;
}
.sorting-ascend {

    width: 32px;
    margin: 56px 25px 0 0;
    padding: 0;
    min-height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* align-items: center; */

    /* border: 1px solid rgb(226, 43, 89);
    box-sizing: border-box; */
}
.items-ascend {
    position: relative;
    padding: 0;
    margin: 0 1px 0 17px;
    color: #ededed;
}
.items-ascend path {
    fill: #ededed;
}
.items-ascend:hover path {
    fill: #a6a6a6;
}
.items-ascend:active path {
    fill: #231f20;
}
.sorting-radio:checked ~ .icon-radio > path {
    fill: #231f20;
}
.sorting-radio + label::before {
    content: "";
    position: absolute;
    left: -3px; /* Координаты радиокнопок */
    top: 3px;
    width: 15px;
    height: 15px;
    /* border: 1px solid #000000; */
}
/* *************** Сортировка Конец ************** */
.catalog {
    margin: 0;
    padding: 0;
    /* border: 1px solid rgb(101, 226, 43);
    box-sizing: border-box; */
}
.catalog-list {
    /* min-height: 1915px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    /* border: 1px solid rgb(61, 43, 226);
    box-sizing: border-box; */
}
.sorting-input-radio:active + label,
.sorting-input-radio:checked + label {
    color: #000000;
}
.sorting-input-radio:hover + label {
    color: #666666;
}

/* ************** Карточка товара *************** */
.catalog-list li {
    position: relative;
    width: 360px;
    min-height: 617px;
    margin: 0;
    margin-bottom: 33px;
    padding: 0;
 /*    border: 1px solid rgb(43, 226, 98);
    box-sizing: border-box; */
}
.catalog-list-item {
    position: absolute;
    display: inline-block;
    width: 360px;
    height: 616px;
    margin: 0;
    padding: 0;
    /* border: 1px solid rgb(43, 226, 98);
    box-sizing: border-box; */
}
.catalog-list-item .catalog-item-caption {
    /* ************************* */
    /* display: none; */
    position: absolute;
    width: 360px;
    height: 40px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
.catalog-item-caption path {
    fill: #e9e9e9;
}
.catalog-list-item .catalog-item-image {
    /* ************************* */
    /* display: none; */
    position: absolute;
    width: 360px;
    height: 576px;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
.catalog-item-window {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 31px;
    width: 360px;
    background-color: #eeeeee;
    /* border: 1px solid red;
    box-sizing: border-box; */
}
.catalog-item-title {
    display: inline-block;
    margin: 28px 0 0 0;

    padding: 0 18px;
    min-height: 38px;
    width: 360px;
    
    text-transform: uppercase;
    word-wrap: break-word;
    text-align: center;
    /* border: 1px solid rgb(43, 226, 98);
    box-sizing: border-box; */
}
.catalog-item-title a{
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}
.catalog-list-item-info {
    display: block;
    margin: 0;
    padding: 5px 0 32px 0;
    width: 234px;
    min-height: 22px;
    word-wrap: break-word;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #666666;
    text-align: center;
    background-color: #eeeeee;
    
    /* border: 1px solid rgb(43, 226, 98);
    box-sizing: border-box; */
}
.catalog-item-price {
    margin: 0 0 42px 0;
    padding: 0;
}
.catalog-item-price a {
    display: block;
    width: 200px;
    min-height: 50px;
    /* margin-bottom: 41px; */
    margin-bottom: 0;

    margin-top: 0;
    padding-top: 12px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    background-color: #fb565a;
    box-sizing: border-box;
    border-radius: 3px;
}
.catalog-item-price a:hover {
    background-color: #e74246;   
}
.catalog-item-price a:active {
    background-color: #d7373b;
    padding-top: 9px;
    border-top: 3px solid #c13135;   
}
.catalog-item-window {
    display: none;
}
.catalog-list-item:hover .catalog-item-caption path {
    fill: #4d4d4d;
}
.catalog-list-item:hover .catalog-item-window {
    display: flex;
}
/* ************** Карточка товара Конец *************** */

.pagination-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 25px;
    /* margin: 25px 0 10px 0; */
    padding: 0;    
    min-height: 10px;
    /* border: 1px solid rgba(233, 10, 21, 0.959);
    box-sizing: border-box; */
    list-style: none;
 }
 .pagination-list a {
    display: inline-block;
    min-width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 44px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    color: #000000;
    background: #eeeeee;
    
    border-radius: 3px;
    border: 3px solid  #eeeeee;;
    box-sizing: border-box;
 }
 
.pagination-list .next-page {
    padding: 0 78px;
}
.pagination-list a:hover {
    background-color: #dfdfdf;
    border-radius: 3px;
    border: 3px solid  #dfdfdf;;
    box-sizing: border-box;
}
.pagination-list a:active {
    color: #959595;
    background-color: #d5d5d5;
    box-sizing: border-box;
    border-radius: 3px;
    border-top: 3px solid #bfbfbf;
    border-bottom: 3px solid #d5d5d5;
}
.pagination-list .pagination-current {
    color: #000000;
    background-color: #ffffff;
    border: 3px solid #dbdbdb;
    border-radius: 3px;
    box-sizing: border-box;
}
/* ************ Всплывающая форма *********** */
.form-close {
    display: none;
}
.modal {
    
   /*  display: none; */

    z-index: 150;
    position: fixed;
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
   
    padding: 75px 100px 85px 100px;
}
.modal-letter {
    top: 80px;
    left: 50%;
    width: 960px;
    min-height: 573px;
    margin-left: -480px;
    padding: 30px 100px 68px 100px;
    /* border: 1px solid rgba(233, 10, 21, 0.959); */
    box-sizing: border-box; 
}
.modal-close {
    position: absolute;
    top: 77px;
    right: 89px;
    
    border: 0;
    outline: none;

    width: 25px;
    height: 25px;
    font-size: 0;
    border: 0;
    cursor: pointer;
    background-color: #ffffff;
}
.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 3px;
  background-color: #fecccd;
}
.modal-close::before {
    transform: rotate(45deg);
}
.modal-close::after {
    transform: rotate(-45deg);
}
.modal-close h2 {
    margin: 0;
    padding: 0;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}
.input-name-mail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.message-form-user-name {
     margin: 0 auto 0 0;
    padding: 0;
    width: 360px;
    min-height: 50px;   
}
.message-form-email {
    margin: 0 0 0 auto;
    padding: 0;
    width: 360px;
    min-height: 50px;
}
.message-form-email input,
.message-form-user-name input {
    border: 0;
    outline: none;

    margin: 5px 0 0 0;
    padding: 1px 0 0 12px;
    width: 345px;
    min-height: 47px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #444444;
    border: 2px solid #d7dcde;
    border-radius: 3px;
}
.form-message {
    margin: 0;
    margin-top: 30px;
    padding: 0;
    width: 760px;
    min-height: 118px;
}
.form-message textarea {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 13px 0 0 12px;

    border: 0;
    outline: none;
    
    width: 745px;
    resize: vertical;
    min-height: 102px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #444444;
    border: 2px solid #d7dcde;
    border-radius: 3px;
}
.message-form-botton {
    margin: 0;
    padding: 0;

    border: 0;
    outline: none;

    width: 260px;
    min-height: 50px;
    border-radius: 3px;
    border: 3px solid #fb565a;
    box-sizing: border-box;
    background-color: #fb565a;
}
.message-form-botton:hover {
    border: 3px solid #e74246;
    box-sizing: border-box;
    background-color: #e74246;
}
.message-form-botton:focus {
    border: 3px solid #e74246;
    box-sizing: border-box;
    background-color: #e74246;
}
.message-form-botton:active {
    border: 3px solid #d7373b;
    border-top-color: #c13135;
    box-sizing: border-box;
    background-color: #d7373b;
}
.message-form-email input:hover,
.message-form-user-name input:hover,
.form-message textarea:hover {
    color: #bababa;
    border-color: #b4b9bb;
}
.message-form-email input:active,
.message-form-user-name input:active,
.form-message textarea:active {
    color: #767676;
    border-color: #000000;
}
.message-form-email input:focus,
.message-form-user-name input:focus,
.form-message textarea:focus {
    color: #444444;
    border-color: #000000;
}

.modal-close:hover::before,
.modal-close:hover::after {
    background-color: #fb565a;
}
.modal-close:active::before,
.modal-close:active::after {
    background-color: #ffeeee;
}
input:invalid {
    color: #e74246;
    border-color: #e74246;
}
@keyframes form-showing {
    0% {
      transform: scale(0.1);
    }
  
/*     25% {
      transform:scale(0.25);
    }
  
    50% {
      transform: scale(0.5);
    }
   */
    100% {
      transform: scale(1);
    }
  }
.modal-showing {
    animation: form-showing 0.6s;
}
@keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
}
.modal-error {
    animation: shake 0.6s;
}
.yandex-map {
    margin: 0;
    padding: 0;
    position: relative;
}
.geography {
    position: absolute;
    left: 0;
    top: 0;
    /* z-index: 105; */
}